h2.dateTitle {
    margin: 0px;
    margin-bottom: 14px;
}
#exWell {
    margin-left: 10px
}
.clndrWell {
    margin-top: 20px
}

.ubf {
    background-color: green
}
#workoutListWell{
    margin-top: 0px;
    margin-bottom: 14px;
    text-align:center;
    padding-bottom: 10px; padding-top: 0px; padding-left: 0px; padding-right: 0px;

    border: 0px;
}
h3.workoutTitle{
    margin-bottom: 20px;
    margin-top: 0px;
}
#workoutList{
    text-align: left;
}