h2.dateTitle {
    margin: 0px;
    margin-bottom: 14px;
}
#inputForms {
    border-right: 0px;
    border-bottom: 0px;
    border-bottom-right-radius: 0px;
}
#datepicker {
    display: inline-block;
    width: 35%;
}
#selProgForm {
    display: inline-block;
    width: 35%;
}
#submitDateDtn {
    display: inline-block;
    width: 15%;
    margin-left: 15px;

}
#cornerWell {
    border-left: 0px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
}
#exWell {
    margin-left: 0px;
    border-left: 0px;
    border-top: 0px;
    border-top-left-radius: 0px;
}
#calendar{
    border-right: 0px;
    border-top: 0px;
    border-top-right-radius: 0px;
}

.topWell {
    margin-top: 20px;
    margin-bottom: 0px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width:100%;
}

.ubf {
    background-color: green
}
#workoutListWell{
    margin-top: 0px;
    margin-bottom: 14px;
    text-align:center;
    padding-bottom: 10px; padding-top: 0px; padding-left: 0px; padding-right: 0px;

    border: 0px;
}
h3.workoutTitle{
    margin-bottom: 20px;
    margin-top: 0px;
}
#workoutList{
    text-align: left;
}